{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card m-3 w-50">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ asset.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ asset.name }}
                </h5>
                <p class="card-text">
                    S/N: {{ asset.serial_number }}
                    {% if asset.status == 'available' %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                        {{asset.status }}
                    </span>
                    <!-- <span class="badge bg-primary">{{ asset.status }}</span> -->
                    {% elif asset.status == 'in use' %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        {{asset.status }}
                    </span>
                    <!-- <span class="badge bg-success">{{ asset.status }}</span> -->
                    {% else %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{asset.status }}
                    </span>
                    <!-- <span class="badge bg-danger">{{ asset.status }}</span> -->
                    {% endif %}
                </p>
                <p class="card-text"><small class="text-muted">{{asset.purchase_date}}</small></p>
                <a class="btn btn-sm btn-warning" href="{% url 'asset_edit' asset.pk %}">Update</a>
                <a href="{% url 'asset_list' %}" class="btn btn-sm btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}