{% extends 'base.html' %}
{% block content %}
<div class="card m-3 w-50">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body">
                {% if user.is_authenticated %}
                <form action="" method="post">
                    {% csrf_token %}
                    <p>you sure you want to delete {{ asset.name }}</p>
                    <input type="submit" class="btn btn-sm btn-danger" value="Yes">
                    <a href="/" class="btn btn-sm btn-info ml-2">Cancel</a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}